// Colors
$primary-color: #42b983;
$border-color: #e5e5e5;
$white-color: #ffffff;
$background-color: #f8f8f8;
$orange-color: #e96900;
$dark-color: #34495e;
$gray-color: #7f8c8d;
$shadow-color: #e3e3e3;

// Images
$logo-url: 'images/logo.png';
$menu-url: 'images/menu.png';
$arrow-url: 'images/top.png';
$catalog-url: 'images/catalog.png';
$alipay-url: 'images/qrcode.png';
$wechat-url: 'images/qrcode.png';
$avatar-url: 'images/avatar.jpg';
$escheres-url: 'images/escheres.png';
$about-banner-url: 'images/about.jpg';

$m-mobile: 'screen and (max-width: 480px)';
$m-pad: 'screen and (max-width: 960px)';
