<aside class="catalog-container">
  <div class="toc-main">
    <strong class="toc-title"><%= __('common.catalog') %></strong>
    <% if (toc(page.content) !== ""){ %>
      <%- toc(page.content, { "class": "toc-nav", "list_number": false }) %>
    <% } else { %>
      <ol class="nav"><%= __('common.none') %></ol>
    <% } %>
  </div>
</aside>